
@import url(index-style.css);


body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.left-side-style{
    width: 25%;
    height: 600px;
    float: left;
    /* position: fixed; */
    
}

.main-section-style{
    width: 44%;
    /* height: 1000px; */
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    float: left;
    /* margin-left: 25%; */
}

.right-side-style{
    width: 30%;
    height: 600px;
    float: right;
    /* position: fixed; */
    /* margin-left: 70%; */
}

